#mainPane {
	-fx-background-image:url("MenuBackground.jpg");
	-fx-background-size: cover;
	-fx-cursor: CROSSHAIR;
}

#gameOver {
	-fx-background-image:url("gameover.jpg");
	-fx-background-size: cover;
	-fx-cursor: CROSSHAIR;
}

.label{
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.button{
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
	-fx-background-color: none;
}

.button:hover{
	-fx-background-color: #ff0000;
}

.slider {
    -track-color: red;
}
.slider .track {
    -fx-background-color: -track-color ;
}

/* Styling the slider thumb */
.slider .thumb {
     -fx-background-color: white;
}
